BASE_URL=https://infusive-front.jobvritta.com/login
BASE_API_URL=https://infusive-back.jobvritta.com/api/
stg_api_baseurl=https://infusive-back.jobvritta.com/api/page/permission/1

EMAIL=your_email@example.com
PASSWORD=your_password
